@value min-md from 'components/util.module.css';
@value max-md from 'components/util.module.css';

.wrapper {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.topBar {
  height: 4rem;
  font-size: 2rem;
  font-family: "Dank Mono", "Fira Code", monospace;

  border-bottom: 4px solid gray;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.letterBox {
  border-radius: 8px;
  border: 1px solid gray;
  width: 1em;
  height: 1.5em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.guessesArea {
  overflow-y: scroll;

  flex: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.keyboard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;

  @media max-md {
    font-size: 1.25em;
  }
  @media min-md {
    font-size: 2em;
  }

  padding-bottom: 1em;
}

.keyboardRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.25em;

  text-decoration: none;
}

.keyBox {
  composes: letterBox;

  width: auto;
  min-width: 1em;
  padding: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
