/*

!/libs
!/shells
!/programs
!/README.md
!/TODO.md
!/LICENSE
!/install
!/local

/local/*
!/local/.gitkeep
!/local/preconf
/local/preconf/*
!/local/preconf/.gitkeep
!/local/flags
/local/flags/*
!/local/flags/.gitkeep
