.bgWhite {
  background-color: var(--white);
}

.bgLightGray {
  background-color: var(--light-gray);
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
}

.padded {
  padding: 8px;
}

.rounded {
  composes: padded;
  border-radius: 4px;
}

.scrollColImpl {
  height: 100%;
  overflow-x: scroll;
}