.wrapper {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.canvas {
  height: 100%;
  min-width: 0px;
  width: inherit;
  max-width: inherit;
  flex-grow: 1;

  cursor: default;
}
