@value min-sm from 'src/util.module.css';
@value max-sm from 'src/util.module.css';
@value min-lg from 'src/util.module.css';
@value lg from 'src/util.module.css';

.wrapper {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid gray;

  @media max-sm {
    padding: 4px 8px 4px 4px;
  }

  @media min-sm {
    position: relative;
    padding: 4px 16px 4px 16px;
  }
}

.submitWindow {
  font-size: 2rem;
  font-family: "Dank Mono", "Fira Code", monospace;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  @media max-sm {
  }

  @media min-sm {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

.statsBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  margin-left: auto;
}

.letterBox {
  border-radius: 8px;
  border: 1px solid gray;
  width: 1em;
  height: 1.5em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.centerArea {
  overflow-y: scroll;
  flex: 1;
  max-height: inherit;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.guessesArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media min-lg {
    max-width: lg;
  }

  padding: 8px;
  gap: 1rem;
}

.centerMessage {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.puzzle {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.filledBox {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.submitBox {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;

  font-weight: bold;
  padding: 1em 4px 1em 4px;

  font-size: 24px;
}

.keyboardRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  justify-content: space-between;

  width: 100%;
  max-width: 500px;
}

.middleRow {
  @media max-sm {
    padding: 0px 8px 0px 8px;
  }

  @media min-sm {
    padding: 0px 16px 0px 16px;
  }
}

.keyBox {
  border-radius: 8px;
  border: 1px solid gray;

  height: 58px;
  padding: 4px;
  text-decoration: none;
  color: black;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  text-transform: uppercase;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: lightgreen;
}

.gray {
  background-color: gray;
}

/* https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
