__pycache__
*.pyc

# IDK why Zig outputs this crap but IDK how to disable it.
*.o
*.so
*.so.0

/local/*
!/local/.gitkeep
!/local/preconf
/local/preconf/*
!/local/preconf/.gitkeep
!/local/flags
/local/flags/*
!/local/flags/.gitkeep
