@value min-lg from './Util.module.css';

.fullscreen {
  background-color: #e6e6e6;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  align-items: center;
}

.topNav {
  width: 100%;
  min-height: 90px;
  height: 90px;
  background: #121417;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navLink {
  color: var(--gray);

  &:hover {
    color: var(--blue);
  }
}

.navContent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  width: 100%;

  @media min-lg {
    padding: 0;
    flex-basis: 66.666667%;
    width: 66.666667%;
  }
}

.logo {
  composes: navLink;
  min-width: 0;
  font-size: 30px;
}

.navItem {
  composes: navLink;
  margin-left: 10px;
  font-size: 20px;
}

.main {
  flex-grow: 1;
  background-color: #fff;
  width: 100%;
  padding: 50px;
  box-shadow: inset -15px 0 15px -15px #282C34,inset 15px 0 15px -15px #282C34;

  @media min-lg {
    width: 66.666667%;
  }
}
