/tasks
/workspace
/port
/event-log-whitelist
/idea.key
/port.lock
!/options
/options/*
!/options/colors.scheme.xml
!/options/code.style.schemes
!/options/ide.general.xml
!/options/markdown.xml
!/options/laf.xml
