.fitContent {
  width: fit-content;
}

.fullscreen {
  background: var(--blue);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  gap: 16px;

  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.inputRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.inputWrapper {
  width: 100%;
}

.inputBox {
  background: var(--white);
  border-radius: 8px;
  padding: 2px;
  padding-left: 4px;
  border: 2px solid var(--gray);
  width: 100%;
}

.suggestions {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;

  visibility: hidden;
  position: absolute;
}

.suggestionsVisible {
  visibility: visible;
}

.suggestion {
  background: var(--white);
  border: 1px solid black;
  border-top: none;
  z-index: 2;

  &:hover {
    background: var(--blue);
  }
}

.cardArea {
  height: 100%;

  border-radius: 8px;
  background: var(--white);

  padding: 16px;
  gap: 16px;
}

.cardLabel {
  font-weight: bold;
  font-size: 1.25em;
  width: 100px;
}

.cardContent {
  height: 100%;
  width: 100%;
}
