.netrwhist

/autoload/*
!/autoload/.gitkeep

/eclimd
/eclim
/plugin/eclim.vim

*.jar

/undohist/*
!/undohist/.gitkeep

/bundle/*
!/bundle/.gitkeep

/plugged
/view
/indent
/ftdetect
/ftplugin
/keymap
/syntax
/utilsnips
/compiler
/doc
